*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: "Poetsen One";
  --yellow: #feffcd;
  --clouds: white;
  --distant-mountains: #a1bba3;
  --middle-mountains: #82ba86;
  --close-mountains: #56a65e;
  --bushes: #25b133;
  --title: #25b133;
  --dark-text: #046900;
  --sky: #c5f4ff;
}

body {
  font-family: var(--main-font), sans-serif;
  background-color: var(--sky);
  overflow-x: hidden;
  letter-spacing: 1px;
  line-height: 30px;
}

button {
  font-family: var(--main-font), sans-serif;
  letter-spacing: 1px;
}

.top-container {
  position: relative;
  height: 95vh;
  max-height: 750px;
}

.title {
  letter-spacing: 1.5px;
  padding: 20px 45px;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--title);
  z-index: 23;
  position: absolute;
  top: 0;
  left: 0;
}

.go-fishin-button {
  position: absolute;
  font-size: 2rem;
  color: var(--bushes);
  bottom: 0;
  right: 50px;
  z-index: 30;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: var(--yellow);
  border: 2px solid var(--bushes);
}
.go-fishin-button:hover {
  color: var(--yellow);
  background-color: var(--bushes);
  border: 2px solid var(--yellow);
}

.fish-info-card {
  padding: 40px 20px;
  padding-bottom: 110px;
  width: 320px;
  background-color: var(--yellow);
  color: var(--bushes);
  position: absolute;
  bottom: -590px;
  left: 50px;
  left: 5vw;
  z-index: 25;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--bushes);
  transition: all 0.4s ease;
  .nice-catch {
    position: absolute;
    top: -3px;
    left: 7px;
    font-weight: 100;
  }
  .info-card-close-button {
    position: absolute;
    color: var(--bushes);
    top: 4px;
    right: 9px;
    font-size: 1.2rem;
    border: none;
    background: none;
  }
  .info-card-close-button:hover {
    color: var(--dark-text);
  }
  .info-card-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    gap: 30px;
    align-items: center;
    .fishing-icon {
      font-size: 1.9rem;
      width: 70px;
      // border: 2px solid black;
    }
    .info-card-fish-name {
      text-align: center;
      font-weight: 100;
    }
    p + p {
      width: 160px;
      text-align: right;
      color: var(--dark-text);
    }
  }
  .info-card-divider-line {
    width: 90%;
    height: 3px;
    background-color: var(--bushes);
  }
}
.fish-info-card-animation {
  animation: fish-info-card-animation 0.8s ease-in-out forwards;
}
.fish-info-card-away {
  animation: fish-info-card-away 0.8s ease-in-out forwards;
}

@keyframes fish-info-card-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-590px);
  }
  100% {
    transform: translateY(-540px);
  }
}

@keyframes fish-info-card-away {
  0% {
    transform: translateY(-540px);
  }
  50% {
    transform: translateY(-590px);
  }
  100% {
    transform: translateY(0);
  }
}

// -------------------------
// THE SKY!!
// -------------------------
.sun {
  position: absolute;
  content: "";
  background-color: var(--yellow);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  bottom: 490px;
  right: 110px;
}

@keyframes cloud-drift {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
  }
}

.cloud-container {
  position: absolute;
  animation: cloud-drift 60s ease-in-out infinite;
}
.cloud-part-1 {
  position: absolute;
  //   border: 2px solid black;
  background-color: var(--clouds);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 30px;
}
.cloud-part-2 {
  position: absolute;
  //   border: 2px solid black;
  background-color: var(--clouds);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 2px;
  left: 52px;
}
.cloud-part-3 {
  position: absolute;
  background-color: var(--clouds);
  height: 55px;
  width: 130px;
  border-radius: 0 20px 20px 0px;
  top: 65px;
  left: 50px;
}
.cloud-part-4 {
  position: absolute;
  //   border: 2px solid black;
  background-color: var(--clouds);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 40px;
  left: 106px;
}

// The Birds

@keyframes bird-drift {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

.bird-container {
  position: absolute;
  animation: bird-drift 45s ease-in-out infinite;
  img {
    width: 7px;
  }
}

// -------------------------
// THE MOUNTAINS!!
// -------------------------
.mountain {
  position: absolute;
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  --baseline-background-height: 270px;
  --baseline-background-height-vh: 40vh;
}

// DISTANT MOUNTAINS
.distant-mountain {
  background-color: var(--distant-mountains);
  z-index: 5;
}

// @mixin mountain-params($width, $height) {
//   width: $width;
//   height: $height;
// }

.md1 {
  // bottom: 270px;
  bottom: min(
    var(--baseline-background-height),
    var(--baseline-background-height-vh)
  );
  right: -120px;
  width: 520px;
  height: 300px;
  // height: min(300px, 50vh);
}
.md2 {
  bottom: min(
    var(--baseline-background-height),
    var(--baseline-background-height-vh)
  );
  right: -60px;
  width: 530px;
  height: 250px;
}
.md3 {
  bottom: min(
    var(--baseline-background-height),
    var(--baseline-background-height-vh)
  );
  right: 140px;
  width: 530px;
  height: 150px;
}
.md4 {
  bottom: min(
    var(--baseline-background-height),
    var(--baseline-background-height-vh)
  );
  right: 500px;
  width: 330px;
  height: 100px;
}
.md5 {
  bottom: min(
    var(--baseline-background-height),
    var(--baseline-background-height-vh)
  );
  left: 340px;
  width: 700px;
  height: 150px;
}
.md6 {
  bottom: min(
    var(--baseline-background-height),
    var(--baseline-background-height-vh)
  );
  left: -20px;
  width: 420px;
  height: 200px;
}
.md7 {
  bottom: min(
    var(--baseline-background-height),
    var(--baseline-background-height-vh)
  );
  left: -170px;
  width: 500px;
  height: 250px;
}

// middle mountains
.middle-mountain {
  background-color: var(--middle-mountains);
  z-index: 10;
}
.mm1 {
  bottom: min(
    var(--baseline-background-height) - 10px,
    var(--baseline-background-height-vh) - 10px
  );
  right: -100px;
  width: 400px;
  height: 200px;
}
.mm2 {
  bottom: min(
    var(--baseline-background-height) - 30px,
    var(--baseline-background-height-vh) - 30px
  );
  right: 120px;
  width: 400px;
  height: 200px;
}
.mm3 {
  bottom: min(
    var(--baseline-background-height) - 30px,
    var(--baseline-background-height-vh) - 30px
  );
  right: 360px;
  width: 400px;
  height: 110px;
}
.mm4 {
  bottom: min(
    var(--baseline-background-height) - 10px,
    var(--baseline-background-height-vh) - 10px
  );
  left: 380px;
  width: 400px;
  height: 100px;
}
.mm5 {
  bottom: min(
    var(--baseline-background-height) - 10px,
    var(--baseline-background-height-vh) - 10px
  );
  left: 140px;
  width: 400px;
  height: 120px;
}
.mm6 {
  bottom: min(
    var(--baseline-background-height) - 10px,
    var(--baseline-background-height-vh) - 10px
  );
  left: -190px;
  width: 500px;
  height: 180px;
}

// close mountains
.close-mountain {
  background-color: var(--close-mountains);
  z-index: 15;
}
.mc0 {
  bottom: min(
    var(--baseline-background-height) - 80px,
    var(--baseline-background-height-vh) - 80px
  );
  right: -220px;
  width: 400px;
  height: 200px;
}
.mc1 {
  bottom: min(
    var(--baseline-background-height) - 80px,
    var(--baseline-background-height-vh) - 80px
  );
  right: -220px;
  width: 400px;
  height: 200px;
}
.mc2 {
  bottom: min(
    var(--baseline-background-height) - 50px,
    var(--baseline-background-height-vh) - 50px
  );
  right: 0px;
  width: 520px;
  height: 120px;
}
.mc3 {
  //   background-color: red;
  bottom: min(
    var(--baseline-background-height) - 30px,
    var(--baseline-background-height-vh) - 30px
  );
  right: 520px;
  width: 280px;
  height: 70px;
}
.mc4 {
  bottom: min(
    var(--baseline-background-height) - 30px,
    var(--baseline-background-height-vh) - 30px
  );
  right: 620px;
  width: 620px;
  height: 120px;
}
.mc5 {
  bottom: min(
    var(--baseline-background-height) - 80px,
    var(--baseline-background-height-vh) - 80px
  );
  left: -160px;
  width: 320px;
  height: 120px;
}
.mc6 {
  bottom: min(
    var(--baseline-background-height) - 60px,
    var(--baseline-background-height-vh) - 60px
  );
  left: -130px;
  width: 320px;
  height: 120px;
}
.mc7 {
  bottom: min(
    var(--baseline-background-height) - 20px,
    var(--baseline-background-height-vh) - 20px
  );
  left: 50px;
  width: 220px;
  height: 60px;
}

// FOREGROUND - Grass and bushes

.bush {
  position: absolute;
  border-radius: 50%;
  background-color: var(--bushes);
}

// -------------------------
// INFORMATION SECTION!!
// -------------------------

.next-container {
  // background-color: #25b133;
  position: relative;
  background: linear-gradient(
    180deg,
    var(--bushes) 0%,
    var(--bushes) 7%,
    var(--sky) 100%
  );
  z-index: 30;
  padding-top: 70px;
  padding-bottom: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-container {
  z-index: 30;
  color: var(--bushes);
  padding: 100px 120px;
  width: 90%;
  max-width: 1200px;
  border-radius: 30px;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  h1 {
    font-size: 2.5rem;
    padding-bottom: 18px;
    letter-spacing: 3px;
  }
  p {
    padding-left: 40px;
    font-size: 1.3rem;
  }
}

.divider-line {
  width: 20%;
  height: 3px;
  background-color: var(--bushes);
}
